@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');

body{
    font-family: 'Cinzel', serif;
}

.container{
    width: 70%;
    margin: 0 auto;
}

.container .row{
    display: flex;
    margin-top: 100px;
}

.container .row .cont-izq{
    width: 50%;
    background: #2396bd;
    padding: 50px;
    border: 1px solid #fbfbfb;
    text-align: center;
}

.container .row .cont-izq h2{
    color: #fbfbfb;
}

.container .row .cont-izq .cont-botones button{
    padding: 12px 30px;
    margin: 20px 16px;
    background: #ffffff;
    color: #2396bd;
    border: 1px solid #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.container .row .cont-der{
    width: 50%;
    background: url(../img/rayas.jpg);
    padding: 50px;
    border: 1px solid #2396bd;
    text-align: center;
}

.container .row .cont-der h2{
    color: #2396bd;
    margin-bottom: 58px;
}

.container .row .cont-der #figura{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background: #08526b;
    transition: .4s;
}

/* variantes de clases */
.container .row .cont-der #figura.circulo{
    transition: .4s;
    border-radius: 50%;
    background: #2b256b;
}
.container .row .cont-der #figura.rombo{
    transform: rotate(45deg);
    border-radius: 0;
    background: #345125;
}

.container .row .cont-der #figura.rectangulo{
    width: 400px;
}

.container .row .cont-der #figura.top{
    transform: translateY(-50px);
}

.container .row .cont-der #figura.right{
    transform: translateX(50px);
}

.container .row .cont-der #figura.bottom{
    transform: translateY(50px);
}

.container .row .cont-der #figura.left{
    transform: translateX(-50px);
}

.container .row .cont-der #figura.diagder{
    transform: translateX(25px);
    transform: translateY(-25px);
}

.container .row .cont-der #figura.diagizq{
    transform: translateX(-25px);
    transform: translateY(25px);
}
